* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font: 400 16px/20px 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
}

button {
  background: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  cursor: pointer;
  font: inherit;
  margin: 1em;
  padding: 0.5em 0.75em;
}

  button:hover {
    background: #eee;
  }

#header {
  border-bottom: 1px solid #bdbdbd;
  font-size: 0.75em;
  padding: 0.25em 1em;
  width: 100%;
}

  #header > * {
    display: inline-block;
    margin: 0.5em 1em;
    vertical-align: middle;
  }

  #header h1 {
    font-size: 1.75rem;
  }

#board {
  border-collapse: collapse;
  margin: 1em auto;
}

  td {
    border: 1px solid #bdbdbd;
    cursor: pointer;
    height: 120px;
    padding: 0.5em;
    transition: transform 0.2s;
    width: 120px;
  }

    td:hover {
      background-color: #eee;
    }

    .toggled {
      opacity: 0.4;
      position: relative;
      transform: scale(0.65);
    }

      .toggled::before,
      .toggled::after {
        background: #000;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
      }

      .toggled::before {
        transform: rotate(-45deg);
      }

      .toggled::after {
        transform: rotate(45deg);
      }
